@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Kode Mono", monospace;
}

.add-employee {
    width: 100vw;
    background-color: black;
    position: fixed;
    top: 20px;
}

.add-employee > div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-employee button {
    background-color: white;
    color: black;
}

.wrapper {
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    width: 50%;
    min-width: 400px;
    height: 50%;
    min-height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

button {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
}